@import url('https://fonts.googleapis.com/css?family=Concert+One:regular');

/* latin-ext */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/concertone/v16/VEM1Ro9xs5PjtzCu-srDqSTsjP6gukARXRY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/concertone/v16/VEM1Ro9xs5PjtzCu-srDqSTijP6gukAR.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: "Concert One";
  font-size: 16px;
  background-color: #004d9d;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

section {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}

header {
  position: fixed;
  top: 20px;
  left: 20px;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

footer a {
  margin-right: 5px;
}

a:hover {
  color: #dddddd;
}

.image_1 {
  background-image: url("sally_1.jpeg");  
}

.image_2 {
  background-image: url("sally_2.jpeg");  
}

.image_3 {
  background-image: url("sally_3.jpeg");  
}

.image_4 {
  background-image: url("sally_4.jpeg");  
}
